.font {
    color: white !important;
}

.font:hover {
    /* color: #03214ff3 !important; current */
    color: #832729 !important; 
    /* text-shadow: slategray; */
    background-color: whitesmoke !important;
}