.auth-container {
    border-radius: 10px;
    /* border: 1px solid rgb(246, 214, 173); */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    /* background-color: rgba(220, 210, 208, 0.237) */
}